body {
    background-color: #f3ecff;
}

div.Div_Top p{
    background-color: #6600cc;
    font-size:220%; /* tam letra */
    color:white;  
    text-align: left;
    height: 28px; width: 150%;
    margin-left: 1px; padding-top: 9px; padding-left: 6px;
    font-family :"Bernard MT Condensed";
}

div#contenedor { height: 400px; }

div.carousel-inner div.item h2 {
    width: 120px; margin: auto;
}

div#myCarousel {
    width: 70%;         height: 100%;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    text-align: center;
    background-color: #FFFFFF;    
    display: inline-block;
}

div.login {
    background-color: #FFFFFF;
    width: 25%;         height: 100%;
    display: inline-block;
    float: right; /* a la derecha */
}