
body {
    background-color: #ffffff;
}

body h1 {
    text-align: center;
    background-color: #E4E6F8;
    width: 97%;
    margin-left: 44px;
}

div.Menu {
    background-color: black;
    color: white;
    height: 38px;
    width: 101%;
    margin-top:-15px; /* pegado hasta arriba */
    margin-left: -7px ;
    text-align: left;
}

div.Menu ul {
    padding: 0px 8px 0px 1px;
    border-top:  3px solid #6600cc;
}

div.Menu ul li {
    font-size:20px;
    padding: 6px 18px 0px 24px;
    display: inline-block;
    
}
div.Menu ul li:hover {
    border-block-start:  3px solid #6600cc;
}

div.Menu ul li a {
    color: white;
    text-decoration:none; 
} 
div.Menu ul li#Titulo {
    font-size:185%; /* tam letra */
    background-color: #6600cc; padding: 0px 7px 0px 3px;
    font-family :"Bernard MT Condensed";
}
/*
div.Div_Top p{
    background-color: #6600cc;
    font-size:195%; 
    color:white;  
    text-align: left;
    height: 38px;
    width: 300%;
    margin-top:-8px; /* pegado hasta arriba */
/*    margin-left: -7px;
    padding-left: 6px;
    font-family :"Bernard MT Condensed";
}*/

input[type="submit"] {
    background-color:#6600cc;
    height: 35px;
    width: 85px;
    color:white;
    font-size: 15px;
}

#lista3 {
    counter-reset: li; 
    list-style: none; 
    *list-style: decimal; 
    font: 15px 'Britannic Bold', 'lucida sans';
    padding: 0px 0px 0px 7px;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
}

#lista3 ol {
    margin: 0 0 0 2em; 
}

#lista3 li{
    position: relative;
    display: block;
    padding: .4em .4em .4em .8em;
    *padding: .4em;
    margin: .5em 0 .5em 2.5em;
    background: #E4E6F8; /* aqui el color de la lista*/
    color: white; /*  letra */
    text-decoration: none;
    transition: all .3s ease-out;   
    border-block-start: 1px solid #282EFB; 
/*    border-block-start:  1px solid #6600cc  282EFB; */
}
#lista3 li#cuadro{ 
    border-bottom:1px solid #282EFB;
}

#lista3 li:hover{
    background: #eee;
} 

#lista3 li p{
    color: black;
} 

#lista3 li:before{
    content: counter(li);
    counter-increment: li;
    position: absolute; 
    left: -2.5em;
    top: 50%;
    margin-top: -1em;
    background: #000000; /* el cuadro de los # */
    height: 2em;
    width: 2em;
    line-height: 2em;
    text-align: center;
    font-weight: bold;
}

#lista3 li:after{
    position: absolute; 
    content: '';
    border: .5em solid transparent;
    left: -1em;
    top: 50%;
    margin-top: -.5em;
    transition: all .3s ease-out;               
}

#lista3 li:hover:after{
    left: -.5em;
    border-left-color: #000000;   
}
/* https://blog.endeos.com/lleva-las-listas-html-al-siguiente-nivel-con-css/ */