body {
    background-color : #F7F2E0;
    text-align: center;
  }

body option,a,::placeholder,h1 {
    color : #8A2048;
    font-weight: normal;
    font-family : Impact, Charcoal, sans-serif;
} 
   
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        text-align : center;
        font-family : "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
 
 div.divform{
    width:500px;
    margin: auto;
    border: 3px solid #ffe6f9;
 }
  
 /* form.formoferente {
          color : #8A2048;
	   font-family :  sans-serif;
         text-align : center;
		 font-family : "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  }*/